/* Error: Undefined variable.
 *    ,
 * 17 |     gap: $grid-gap;
 *    |          ^^^^^^^^^
 *    '
 *   src/styles/_mixins.scss 17:10   grid()
 *   src/styles/_products.scss 14:5  @use
 *   src/styles/main.scss 4:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 17 \2502      gap: $grid-gap;\a    \2502           ^^^^^^^^^\a    \2575 \a   src/styles/_mixins.scss 17:10   grid()\a   src/styles/_products.scss 14:5  @use\a   src/styles/main.scss 4:1        root stylesheet";
}
