@use 'variables' as *;
@use 'mixins' as *;

header {
    position: relative;
    background-color: rgba($secondary-color, 0.8);
    
    .carousel {
        width: 100%;
        
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .slick-prev, .slick-next {
            z-index: 1;
            &:before {
                font-size: 30px;
            }
        }

        .slick-prev {
            left: 25px;
        }

        .slick-next {
            right: 25px;
        }

        .slick-dots {
            bottom: 25px;
            
            li button:before {
                color: $text-color;
            }
        }
    }

    .container {
        @include flex-center;
        padding: $header-padding 0;
    }

    .menu {
        display: flex;
        
        li {
            font-weight: bold;
            margin-left: $item-spacing * 1.5;

            a {
                color: $text-color;
                text-decoration: none;
            }
        }
    }
} 