@use 'variables' as *;
@use 'mixins';
@use 'header';
@use 'products';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.container {
    @include mixins.container;
}

@media screen and (max-width: $tablet) {
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: $desktop) {
    .container {
        max-width: 80%;
    }
} 